@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
  --main-purple: #341535;
  --main-white: #fefdfd;
  --main-font: "Noto Sans Display", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--main-white);
  background: rgb(20, 13, 23);
  background-color: #341535;
  background-image: linear-gradient(
    43deg,
    #341535 12%,
    #c850c0 68%,
    #ffcc70 94%
  );

  background-repeat: no-repeat;
  background-size: cover;
}
