@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
  --main-red: #a43e49;
  --main-white: #fefdfd;
  --main-font: "Noto Sans Display", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--main-white);
  background: rgb(20, 13, 23);
  background: linear-gradient(
    29deg,
    rgba(20, 13, 23, 1) 11%,
    rgba(64, 25, 79, 1) 58%,
    rgba(119, 3, 158, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
