.tab-content,
.tab-pane {
  width: 100%;
  height: 95%;
}

.card {
  margin: 0 15px;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  font-size: 1rem;
}

.Proyectos {
  animation: fadein 2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 5px auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
